---
import AppGlobals from "@/components/app-globals";
import TwIndicator from "@/components/TwIndicator.astro";
import "@/index.css";
import "@/cursors.css";
import { ThemeProvider } from "@/lib/next-themes";
import "tldraw/tldraw.css";
import { pwaInfo } from "@/pwainfo";
interface Props {
  title?: string;
}
const { title } = Astro.props;
const pageTitle = title ? `${title} - Lkal.ma` : "Lkal.ma";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <ThemeProvider
      attribute="class"
      defaultTheme="system"
      enableSystem
      disableTransitionOnChange
      includeScriptTag
    />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Lkal.ma" />
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  </head>
  <body>
    <slot />
    <AppGlobals client:only />
    <TwIndicator />
    <iframe id="print" class="fixed -top-1 -left-1 w-1 h-1"></iframe>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
